<div class="heading-home">Home</div>
<div class="row">
    <div class="col">
        <div class="heading">Balance</div>
        <p  class="balance">Balance</p>
        <button id="sendButton">Send -></button>
        <button id="receiveButton">Recieve </button>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="heading">Liquidity</div>
        <p>Outbound</p><p class="outbound"></p>
        <p>Acinq</p><p class="acinq"></p>

        <p>Inbound</p><p class="inbound"></p>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="heading">Offers</div>
        <p>This is your node's Bolt12 offer. A static and reusable payment request that does not expire</p>
        <p style="word-wrap: break-word;" id="bolt12Offer"></p>
    </div>
</div>

