<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Side Panel -->
            <div class="col-md-3 side-panel">
                <div class="app-name">Phoenixd Wallet</div>
                <a href="#" class="menu-item" id="dashboard">Dashboard</a>
                <a href="#" class="menu-item" id="transactions">Transactions</a>
                <a href="#" class="menu-item">Contacts</a>
                <button class="logout-button">Log out</button>
                <div class="version-icon">Version 1.0.0</div>
                <div class="sponsors-badge"></div>
            </div>

            <!-- Main Content -->
            <div class="col-md-9 main-content" id="rightPanel">
                <div class="heading-home">Home</div>
                <div class="row">
                    <div class="col">
                        <div class="heading">Balance</div>
                        <p>Balance</p><p class="balance"></p>
                        <button id="sendButton">Send -></button>
                        <button id="receiveButton">Recieve </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="heading">Liquidity</div>
                        <p>Outbound</p><p class="outbound"></p>
                        <p>Acinq</p><p class="acinq"></p>

                        <p>Inbound</p><p class="inbound"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="heading">Offers</div>
                        <p>This is your node's Bolt12 offer. A static and reusable payment request that does not expire</p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <h2>Select an Option</h2>
          <form id="">
            
            <select id="options" name="option">
                <option value="optionA">Option A</option>
                <option value="optionB">Option B</option>
                <option value="optionC">Option C</option>
            </select>

              <button type="button" id="submitOption">Submit</button>
          </form>
        </div>
      
      </div>

      <p id="selectedOption"></p>

    <!-- <script>
        document.getElementById('alertButton').addEventListener('click', function() {
            alert('Hello! This is an alert message.');
        });
    </script> -->

    <script src="/public/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>