<style>
    .heading {
        margin-top: 20px;
        font-weight: bold;
        color: #f19528;
    }

    .application-password {
        background-color: #000;
        padding: 10px;
        margin-top: 10px;
    }

    .update-password {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #000;
        padding: 10px;
    }

    .passwordSet {
        color: #fff;
        background-color: #111111; /* Green shade for the box */
        padding: 10px;
        display: inline-block;
        margin: 0;
    }

    .update-password-button {
        background-color: #000000;
        color: #f09026;
        font-size: 16px;
        padding: 10px;
        cursor: pointer;
        text-align: center;
        border: 1px solid #f09026;
    }

    .update-password-button i {
        margin-left: 8px;
    }

    .stringBox {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 10px;
        background-color: #111111;
        border: none;
        border-radius: 5px;
        box-sizing: border-box;
        overflow: hidden; 
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    .adminPassword, .restrictedPassword, .wallet-seed-phrase {
        flex-grow: 1; 
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-right: 10px;
    }  

    .api-passwords p {
        color: #fff;
    }
    
    
    #doneUpdatePassword {
        background-color: #f09026;
        color: white;
        font-size: 16px;
        padding: 10px;
        position: absolute;
        bottom: 10px;
        right: 20px;
        text-align: center;
        cursor: pointer;
        border: 1px solid #f09026;
    }

        
    #submitSuccessPasswordSet {
        background-color: #f09026;
        color: white;
        font-size: 16px;
        padding: 10px;
        position: absolute;
        bottom: 10px;
        right: 20px;
        text-align: center;
        cursor: pointer;
        border: 1px solid #f09026;
    }

    #okFailedConfirmSeed {
        background-color: #f09026;
        color: white;
        font-size: 16px;
        padding: 10px;
        position: absolute;
        bottom: 10px;
        right: 20px;
        text-align: center;
        cursor: pointer;
        border: 1px solid #f09026;
    }

        
    #submitSuccessPasswordSet {
        background-color: #f09026;
        color: white;
        font-size: 16px;
        padding: 10px;
        position: absolute;
        bottom: 10px;
        right: 20px;
        text-align: center;
        cursor: pointer;
        border: 1px solid #f09026;
    }

    #doneConfirmSeed {
        background-color: #f09026;
        color: white;
        font-size: 16px;
        padding: 10px;
        position: absolute;
        bottom: 10px;
        right: 20px;
        text-align: center;
        cursor: pointer;
        border: 1px solid #f09026;
    }

    #closeUpdatePassword {
        background-color: #000000;
        color: #f09026;
        font-size: 16px;
        padding: 10px;
        position: absolute;
        bottom: 10px;
        left: 20px;
        cursor: pointer;
        text-align: center;
        border: 1px solid #f09026;
    }

    #cancelConfirmSeed {
        background-color: #000000;
        color: #f09026;
        font-size: 16px;
        padding: 10px;
        position: absolute;
        bottom: 10px;
        left: 20px;
        cursor: pointer;
        text-align: center;
        border: 1px solid #f09026;
    }

    .copy-btn {
        background: none;
        border: none;
        cursor: pointer;
        padding: 5px;
    }

    .wallet-seed-phrase {
        filter: blur(8px); 
        transition: filter 0.3s ease-in-out;
    }

    .wallet-seed-phrase.visible {
        filter: none; 
    }

    .adminPassword, .restrictedPassword {
        filter: blur(8px); 
        transition: filter 0.3s ease-in-out;
    }

    .adminPassword.visible {
        filter: none; 
    }

    .restrictedPassword.visible {
        filter: none; 

    }

    .required-asterisk {
        color: red;
    }
</style>
<h2>Settings</h2>
<div class="heading">Application password</div>

<div class="application-password">
    <p>Set application password for login</p>
    <div class="update-password">
        <p class="passwordSet"> No password set <i class="bi bi-exclamation-triangle-fill"></i></p>
        <button id="updatePassword" class="update-password-button">Update password <i class="bi bi-arrow-right"></i></button>
    </div>    
</div>

<div class="heading">Wallet seed phrase</div>
<div class="wallet-seed">
    <p>Authentication requires the password below</p>
    <p>Wallet seed phrase</p>
    <div class="stringBox">
        <span
            class="wallet-seed-phrase" id="wallet-seed-phrase"></span>
        <span class="icons">
            <button id="seeWalletSeedPhrase" class="copy-btn"><i class="bi bi-eye"></i></button> 
            <button id="copyWalletSeedPhrase" class="copy-btn"><i class="bi bi-copy" ></i></button>          
        </span>
    </div>
</div>

<div class="heading">API passwords </div>
<div class="api-passwords">
    <p>Authentication requires the password below</p>
    <p>Admin password</p>
    <div class="stringBox">
        <span
            class="adminPassword" id="adminPassword"></span>
        <span class="icons">
            <button id="seeAdminPassword" class="copy-btn"><i class="bi bi-eye"></i></button>
            <button id="copyAdminPassword" class="copy-btn"><i class="bi bi-copy" ></i></button>          
        </span>
    </div>

    <p>Restricted password</p>
    <div class="stringBox">
        <span
            class="restrictedPassword" id="restrictedPassword"></span>
        <span class="icons">
            <button id="seeRestrictedPassword" class="copy-btn"><i class="bi bi-eye"></i></button>
            <button id="copyRestrictedPassword" class="copy-btn"><i class="bi bi-copy" ></i></button>          
        </span>
    </div>
</div>

<div id="confirmSeedPhraseModal" class="modal">
    <div class="modal-content">
        <span class="close" data-modal="confirmSeedPhraseModal">&times;</span>
        <h2>Confirm</h2>
        <h3>Confirm your wallet seed before setting password</h3>
        <form>
            <div class="form-group seed-form">
                <label for="seed1">Seed</label>
                <input type="text" id="seed1" name="seed1" class="form-control"
                    placeholder="">
                <label for="seed2">Seed:</label>
                <input type="text" id="seed2" name="seed2" class="form-control" placeholder="">
                <label for="">Seed:</label>
                <input type="seed3" id="seed3" name="seed3" class="form-control"
                    placeholder="">
                <label for="seed4">Seed:</label>
                <input type="text" id="seed4" name="" class="form-control"
                    placeholder="">
            </div>
        </form>
        <div id="seed-error-message" style="color: red; display: none; padding-bottom: 10px;"></div>
        <button class="" type="button" id="cancelConfirmSeed"><i class="bi bi-arrow-left"> </i>Back</button>
        <button class="" type="button" id="doneConfirmSeed">Done <i class="bi bi-check2"></i></button>
    </div>
</div>

<div id="updatePasswordModal" class="modal">
    <div class="modal-content">
        <span class="close" data-modal="updatePasswordModal">&times;</span>
        <h2>Password</h2>
        <h3>Update your password</h3>
        <form>
            <div class="form-group">
                <label for="newPassword">New Password <span class="required-asterisk">*</span></label>
                <input type="password" id="newPassword" name="newPassword" class="form-control"
                    placeholder="Add a password... ">
                <label for="confirmPassword">Confirm New Password <span class="required-asterisk">*</span></label>
                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
                    placeholder="Confirm the password... ">

            </div>
            <div id="update-password-error-message" style="color: red; display: none; padding-bottom: 10px;"></div>

        </form>
        <button class="" type="button" id="closeUpdatePassword"><i class="bi bi-arrow-left"> </i>Cancel</button>
        <button class="" type="button" id="doneUpdatePassword">Confirm <i class="bi bi-check2"></i></button>
    </div>
</div>

<!-- Success password set-->
<div id="successPasswordSetModal" class="modal">
    <div class="modal-content">
        <span class="close" data-modal="successPasswordSetModal">&times;</span>
        <h3>Success. Password Set!</h3>

        <div class="icon-container">
            <i class="bi bi-check-circle check-icon"></i>
        </div>

        <button class="" type="button" id="submitSuccessPasswordSet">OK <i class="bi bi-check2"></i></button>
    </div>
</div>

<div id="failedConfirmSeedModal" class="modal">
    <div class="modal-content">
        <span class="close" data-modal="failedConfirmSeedModal">&times;</span>
        <h3>Seed Words Mismatch</h3>
        <div class="icon-container">
            <i class="bi bi-exclamation-diamond-fill check-icon"></i>
        </div>
        <button class="" type="button" id="okFailedConfirmSeed">OK <i class="bi bi-check2"></i></button>
    </div>
</div>

<script src="/public/script.js"></script>