<body>
    <h2>Transactions</h2>
    <table border="1" id="paymentsTable">
        <thead>
            <tr>
                <th>Payment ID</th>
                <th>Payment Hash</th>
                <th>Preimage</th>
                <th>Is Paid</th>
                <th>Sent</th>
                <th>Fees</th>
                <th>Invoice</th>
                <th>Completed At</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            <!-- Table rows will be inserted here by JavaScript -->
        </tbody>
    </table>
</body>



<script src="/public/script.js"></script>
