<body>
    <h2>Transactions</h2>
    <table border="1" id="paymentsTable">
        <thead>
            <tr>
                <th>Payment Type</th>
                <th>TimeStamp   </th>
                <th>Label</th>
                <th>Amount</th>
                <th>Type</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- Table rows will be inserted here by JavaScript -->
        </tbody>
    </table>
</body>



<script src="/public/script.js"></script>
