{# templates/payment/pay_result.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Payment Result{% endblock %}

{% block body %}
    <h1>Payment Result</h1>
    <pre>{{ response|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
{% endblock %}

