<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


    <style>
        body {
            background-color: #000000;
            color: white;
        }

        .side-panel {
            height: 100vh;
            /* Full height */
            background-color: #000000;
            /* Darker background for side panel */
            padding: 20px;
            border-right: 1px solid yellow;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            /* Border separating the panels */
        }

        .menu {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
        }

        .menu-item {
            padding: 10px 0;
            color: yellow;
            text-decoration: none;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .menu-item:not(:last-child) {
            margin-bottom: 15px;
        }

        .menu-item:hover,
        .menu-item:focus,
        .menu-item.active {
            background-color: #333;
            /* Lighter shade of black */
        }

        .footer {
            display: flex;
            flex-direction: column;
        }

        .footer-item {
            padding: 10px 0;
            color: yellow;
            text-decoration: none;
            cursor: pointer;
        }

        .footer-item:not(:last-child) {
            margin-bottom: 15px;
        }

        .footer-item:hover,
        .footer-item:focus {
            background-color: #333;
            /* Lighter shade of black */
        }

        .main-content {
            padding: 20px;
        }

        .app-name {
            font-size: 1.5rem;
            color: yellow;
            margin-bottom: 20px;
        }

        .row {
            margin-bottom: 20px;
            /* Space between rows */
        }

        .row .heading {
            font-size: 1.5rem;
            /* Heading size */
            color: yellow;
            margin-bottom: 10px;
            /* Space below the heading */
        }

        .heading-home {
            font-size: 2rem;
            /* Larger heading size for Home */
            color: yellow;
            margin-bottom: 20px;
        }
    </style>


    <style>
        /* Modal styles */
        .modal {
            display: none;
            /* Hidden by default */
            position: fixed;
            z-index: 1;
            /* Sit on top */
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            /* Enable scroll if needed */
            background-color: rgba(0, 0, 0, 0.5);
            /* Black with opacity */
            padding-top: 60px;
        }

        .modal-content {
            background-color: #fff;
            margin: 5% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            /* Could be more or less, depending on screen size */
            text-align: center;
        }

        .modal h2 {
            color: black;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        .payment-button-group {
            display: flex;
            flex-direction: column;
            /* gap: 10px; */
        }

        .paymentOption {
            padding: 10px;
            width: 100%;
            border: 1px solid #ccc;
            background-color: #f8f8f8;
            cursor: pointer;
        }

        .paymentOption.selected {
            background-color: #ccc;
            font-weight: bold;
        }
    </style>
    <link rel="stylesheet" href="public/font-awesome-4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class="container-fluid" id="home-page">
        <div class="row">
            <!-- Side Panel -->
            <div class="col-md-3 side-panel">
                <div class="app-name">Phoenixd Wallet</div>
                <div class="menu">
                    <a href="#" class="menu-item" style="text-decoration: none;" id="home"><i class="bi bi-grid"></i>Dashboard</a>
                    <a href="#" class="menu-item" style="text-decoration: none;" id="transactions"><i class="bi bi-lightning-charge"></i>Transactions</a>
                    <a href="#" class="menu-item" style="text-decoration: none;"><i class="bi bi-person-lines-fill"></i>Contacts</a>
                    <a href="#" class="menu-item" style="text-decoration: none;"><i class="bi bi-gear"></i>Settings</a>
                </div>

                <div class="footer">
                    <a href="#" class="footer-item" style="text-decoration: none;" id="home">Zaprite</a>
                    <a href="#" class="footer-item" style="text-decoration: none;" id="home"><i class="bi bi-box-arrow-right"></i>Log Out</a>
                    <a href="#" class="footer-item" style="text-decoration: none;" id="home">Version 0.1.0 <i class="bi bi-github"></i></a>
                </div>
            </div>

            <!-- Main Content -->
            <div class="col-md-9 main-content" id="rightPanel">
                <%- include('partials/home') %>
            </div>
        </div>
    </div>

    <div id="paymentTypeModal" class="modal">

        <!-- Payment type modal -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Payment type</h2>
            <form id="paymentForm">
                <div class="payment-button-group">
                    <button type="button" class="paymentOption" data-value="contact" id="contactPaymentOption">Contact <i class="bi bi-arrow-right"></i></button>
                    <button type="button" class="paymentOption" data-value="invoice" id="invoicePaymentOption">Invoice <i class="bi bi-arrow-right"></i></button>
                    <button type="button" class="paymentOption" data-value="offer" id="offerPaymentOption">Offer <i class="bi bi-arrow-right"></i></button>
                </div>
                <button type="button" id="cancelSendRequest">Cancel <i class="bi bi-x"></i></button>
            </form>
        </div>

    </div>

    <!-- Input payment invoice modal -->
    <div id="invoicePaymentType" class="modal">
        <div class="modal-content">
            <span class="close" data-modal="invoicePaymentType">&times;</span>
            <h2>Pay invoice</h2>
            <form>
                <div class="form-group">
                    <label for="requestInvoice">Enter Request Invoice:</label>
                    <input type="text" id="requestInvoice" name="requestInvoice" class="form-control"
                        placeholder="Enter Request Invoice ">
                </div>
            </form>
            <button class="btn btn-primary" type="button" id="backToPaymentType"><i class="bi bi-arrow-left"> </i>Back</button>
            <button class="btn btn-primary" type="button" id="submitInvoice">Send <i class="bi bi-check2"></i></button>
        </div>
    </div>

    <!-- Offer payment type modal -->
    <div id="offerPaymentType" class="modal">
        <div class="modal-content">
            <span class="close" data-modal="offerPaymentType">&times;</span>
            <h2>Pay offer</h2>
            <form>
                <div class="form-group">
                    <label for="requestOffer">Enter Request Offer:</label>
                    <input type="text" id="requestOffer" name="requestOffer" class="form-control" placeholder="Enter Request Offer">
                    <label for="offerAmount">Amount:</label>
                    <input type="text" id="offerAmount" name="offerAmount" class="form-control" placeholder="100,000">
                    <label for="offerDescription">Description:</label>
                    <input type="text" id="offerDescription" name="offerDescription" class="form-control" placeholder="Payment to demo@zaprite.com">
                </div>
            </form>
            <button class="btn btn-primary" type="button" id="backToPaymentType"><i class="bi bi-arrow-left"> </i>Back</button>
            <button class="btn btn-primary" type="button" id="submitOffer">Send <i class="bi bi-check2"></i></button>
        </div>
    </div>

    <!-- Success Modal -->
    <div id="successfulPaymentModal" class="modal">
        <div class="modal-content">
            <span class="close" data-modal="successfulPaymentModal">&times;</span>
            <h2>Success</h2>
            <i class="bi bi-check-circle"></i>
            <button class="btn btn-primary" type="button" id="submitPaymentSuccess">OK <i class="bi bi-check2"></i></button>
        </div>
    </div>

    <!-- Payment request modal-->
    <div id="paymentRequestModal" class="modal">
        <div class="modal-content">
            <span class="close" data-modal="paymentRequestModal">&times;</span>
            <h2>Payment request</h2>
            <form>
                <div class="form-group">
                    <label for="requestInvoiceAmount">Amount</label>
                    <input type="text" id="requestInvoiceAmount" name="requestInvoiceAmount" class="form-control"
                        placeholder="100">
                    <label for="requestInvoiceName">Your name(Optional)</label>
                    <input type="text" id="requestInvoiceName" name="requestInvoiceName" class="form-control" placeholder="Name">
                    <label for="requestInvoiceDescription">Desription</label>
                    <input type="text" id="requestInvoiceDescription" name="requestInvoiceDescription" class="form-control"
                        placeholder="Sample description">
                </div>
            </form>
            <div>
                <button class="btn btn-primary" type="button" id="cancelPaymentRequest"> <i class="bi bi-x"></i> Cancel</button>
                <button class="btn btn-primary" type="button" id="nextToSharePaymentRequest">Next <i class="bi bi-arrow-right"></i></button>
            </div>

        </div>
    </div>

    <!-- Share payment request Modal -->
    <div id="sharePaymentRequestModal" class="modal">
        <div class="modal-content">
            <span class="close" data-modal="sharePaymentRequestModal">&times;</span>
            <h2>Share Payment Request</h2>
            <i class="fa fa-barcode fa-5x text-primary" aria-hidden="true"></i>
            <p class="invoice text-primary" style="word-wrap: break-word;"></p>
            <button class="btn btn-primary" type="button" id="closeSharePaymentRequest"><i class="bi bi-x"></i>Close</button>
            <button class="btn btn-primary" type="button" id="doneSharePaymentRequest">Done  <i class="bi bi-check2"></i></button>
        </div>
    </div>


    <p id="selectedOption"></p>
    <script src="/public/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
</body>

</html>