<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


    <style>
        body {
            background-color: #000000;
            color: white;
        }

        .side-panel {
            height: 100vh;
            /* Full height */
            background-color: #000000;
            /* Darker background for side panel */
            padding: 20px;
            border-right: 1px solid #222222;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            /* Border separating the panels */
        }

        .menu {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
        }

        .menu-item {
            padding: 10px 0;
            color: white;
            text-decoration: none;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .menu-item:not(:last-child) {
            margin-bottom: 15px;
        }

        .menu-item:hover,
        .menu-item:focus {
            background-color: #222222;
            color: white;
        }

        .menu-item:active {
            background-color: #111111;
            color: #f09026;
        }

        .menu-item.selected {
            background-color: #111111;
            color: #f09026;
        }

        .footer {
            display: flex;
            flex-direction: column;
        }

        .footer-item {
            display: flex;
            padding: 10px 0;
            color: white;
            align-items: center;
            text-decoration: none;
            cursor: pointer;
            box-sizing: border-box;
            border-top: 1px solid #333333;
        }

        .footer-item:not(:last-child) {
            margin-bottom: 10px;
        }

        .footer-item:hover,
        .footer-item:focus {
            background-color: #222222;
            color: white;
        }

        .footer-icon-right {
            margin-left: auto; 
            padding-right: 40px;
        }

        .footer-icon {
            margin-right: 10px;
        }

        .footer-text {
            color: white;
        /* margin-left: 34px; Align text with the starting point of other icons */ 
            flex-grow: 1;
        }
        .main-content {
            padding: 20px;
        }

        .app-name {
            font-size: 1.5rem;
            color: white;
            margin-bottom: 20px;
        }

        .row {
            margin-bottom: 10px;
            /* Space between rows */
        }

        .row .heading {
            font-size: 1.5rem;
            /* Heading size */
            color: #f09026;
            margin-bottom: 10px;

        }

        .heading-home {
            font-size: 2rem;
            color: #f19528;
            margin-bottom: 20px;
        }
    </style>


    <style>
        /* Modal styles */
        .modal {
            display: none;
            /* Hidden by default */
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.75);
            justify-content: center;
            align-items: center;
        }

        .modal-content {
            background-color: #000000;
            margin: 5% auto;
            padding: 20px;
            border: 1px solid #333333;
            width: 400px;
            height: 400px;
            position: relative;
            justify-content: center;

        }

        .modal-content .close {
            color: white;
            position: absolute;
            top: 30px;
            right: 20px;
            font-size: 24px;
            cursor: pointer;
        }

        .modal-content h2 {
            color: white;
            margin: 0;
            position: absolute;
            top: 20px;
            left: 20px;
        }

        .modal-content h3 {
            color: #f09026;
            padding-left: 0%;

        }

        .modal-content input[type="text"] {
            background-color: #000;
            color: white;
            border: 1px solid #888;
            padding: 10px;
            width: 100%;
            box-sizing: border-box;
            outline: none;
        }

        .modal-content input[type="text"]::placeholder {
            color: #666; 
            opacity: 1;
        }

        .modal-content input[type="text"]:hover {
            background-color: #000;
        }

        .modal-content input[type="text"]:hover::placeholder {
            color: white;
        }

        #contactPaymentType select {
            background-color: #000;;
            color: #ffff;
        }

        #contactPaymentType option {
            background-color: #000000;;
            color: #ffff;
        }

        .payment-button-group {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
        }

        .payment-button-group button {
            background-color: #f09026;
            color: white;
            border: none;
            padding: 10px;
            margin-bottom: 10px;
            width: 100%;
            /* display: flex;
            justify-content: space-between; */
            align-items: center;
            font-size: 16px;
            cursor: pointer;
        }

        .payment-button-group button:hover{
            background-color: #d97d1e;
        }

        .payment-button-group button i {
            color: white;
        }

        /* Cancel Button */
        #cancelSendRequest {
            background-color: #000000;
            color: #f09026;
            font-size: 16px;
            padding: 10px;
            position: absolute;
            bottom: 10px;
            left: 20px;
            cursor: pointer;
            text-align: center;
            border: 1px solid #f09026;
        }

        #cancelSendRequest:hover {
            background-color: #111111;
        }

        #backToPaymentType {
            background-color: #000000;
            color: #f09026;
            font-size: 16px;
            padding: 10px;
            position: absolute;
            bottom: 10px;
            text-align: center;
            left: 20px;
            cursor: pointer;
            border: 1px solid #f09026;
        }



        #backToPaymentType:hover {
            background-color: #111111;
        }

        #submitOffer {
            background-color: #f09026;
            color: white;
            font-size: 16px;
            padding: 10px;
            position: absolute;
            bottom: 10px;
            right: 20px;
            text-align: center;
            cursor: pointer;
            border: 1px solid #f09026;
        }

        #submitOffer:hover{
            background-color: #d97d1e;
        }

        #submitPaymentSuccess {
            background-color: #f09026;
            color: white;
            font-size: 16px;
            padding: 10px;
            position: absolute;
            bottom: 10px;
            right: 20px;
            text-align: center;
            cursor: pointer;
            border: 1px solid #f09026;
        }

        #submitPaymentSuccess:hover{
            background-color: #d97d1e;
        }

        #submitContact {
            background-color: #f09026;
            color: white;
            font-size: 16px;
            padding: 10px;
            position: absolute;
            bottom: 10px;
            right: 20px;
            text-align: center;
            cursor: pointer;
            border: 1px solid #f09026;
        }

        #submitContact:hover{
            background-color: #d97d1e;
        }

        #submitInvoice {
            background-color: #f09026;
            color: white;
            font-size: 16px;
            padding: 10px;
            position: absolute;
            bottom: 10px;
            right: 20px;
            text-align: center;
            cursor: pointer;
            border: 1px solid #f09026;

        }

        #submitInvoice:hover{
            background-color: #d97d1e;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #f09026;
            text-decoration: none;
            cursor: pointer;
        }

        .payment-button-group {
            display: flex;
            flex-direction: column;
            /* gap: 10px; */
        }

        .paymentOption {
            padding: 10px;
            width: 100%;
            border: 1px solid #ccc;
            background-color: #f8f8f8;
            cursor: pointer;
        }

        .paymentOption.selected {
            background-color: #ccc;
            font-weight: bold;
        }


        .barcode {
            justify-content: center;
            align-items: center;
            margin: 20px auto;
            width: 256px;
            height: 256px;
        }

        .string-box {
            display: flex;
            align-items: center;
            margin: 15px 0;
        }

        .invoice-string {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
        }

        .copy-btn {
            margin-left: 10px;
            padding: 1px;
            border: none;
            background-color: #111111;
            color: white;
            cursor: pointer;
        }

        /* .copy-btn i {
            font-size: 18px;
        } */

        .copy-btn:hover {
            background-color: #222222;
        }
              
        .decode-invoice {
            background-color: #222222;
            padding: 15px;
            margin-top: 20px;
        }

        .decoded-invoice-item {
            display: flex;
            align-items: center; 
            margin-bottom: 10px;
        }

        .decoded-invoice-item p:first-child {
            color: #f09026;
            margin: 0;
            font-weight: bold;
            width: 70px;
        }

        .decoded-invoice-item p:last-child {
            color: white;
            margin: 0px;
            flex: 1;
        }

        .decode-invoice p {
            font-size: 16px;
        }

        #cancelPaymentRequest {
            background-color: #000000;
            color: #f09026;
            font-size: 16px;
            padding: 10px;
            position: absolute;
            bottom: 10px;
            left: 20px;
            cursor: pointer;
            text-align: center;
            border: 1px solid #f09026;
        }

        #cancelPaymentRequest:hover {
            background-color: #111111;
        }
        

        #nextToSharePaymentRequest {
            background-color: #f09026;
            color: white;
            font-size: 16px;
            padding: 10px;
            position: absolute;
            bottom: 10px;
            right: 20px;
            text-align: center;
            cursor: pointer;
            border: 1px solid #f09026;
        }

        #nextToSharePaymentRequest:hover{
            background-color: #d97d1e;
        }

        #closeSharePaymentRequest {
            background-color: #000000;
            color: #f09026;
            font-size: 16px;
            padding: 10px;
            position: absolute;
            bottom: 10px;
            left: 20px;
            cursor: pointer;
            text-align: center;
            border: 1px solid #f09026;

        }

        #closeSharePaymentRequest:hover {
            background-color: #111111;
        }

        #doneSharePaymentRequest {
            background-color: #f09026;
            color: white;
            font-size: 16px;
            padding: 10px;
            position: absolute;
            bottom: 10px;
            right: 20px;
            text-align: center;
            cursor: pointer;
            border: 1px solid #f09026;
        }

        #doneSharePaymentRequest:hover{
            background-color: #d97d1e;
        }

        
        #sharePaymentRequestModal .modal-content {
            width: 500px;
            height: 500px;
        }

        .icon-container {
            text-align: center;
            margin-top: 20px;
        }

        .check-icon {
            font-size: 128px;
            color:  #f09026;
        }

    </style>
    <link rel="stylesheet" href="public/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>


</head>

<body>
    <div class="container-fluid" id="home-page">
        <div class="row">
            <!-- Side Panel -->
            <div class="col-md-3 side-panel">
                <div class="app-name">
                    <h2>Phoneixd Wallet</h2>
                </div>
                <div class="menu">
                    <a href="#" class="menu-item selected" style="text-decoration: none;" id="home"><i
                            class="bi bi-grid"> </i>Dashboard</a>
                    <a href="#" class="menu-item" style="text-decoration: none;" id="transactions"><i
                            class="bi bi-lightning-charge"> </i>Transactions</a>
                    <a href="#" class="menu-item" style="text-decoration: none;" id="contacts"><i
                            class="bi bi-person-lines-fill"> </i>Contacts</a>
                    <a href="#" class="menu-item" style="text-decoration: none;" id="settings"><i class="bi bi-gear">
                        </i>Settings</a>
                </div>

                <div class="footer">
                    <div class="footer-item">
                        <a href="#"  style="text-decoration: none;" id="home"> <span class="footer-text">Zaprite</span></a>
                        <i class="bi bi-arrow-up footer-icon-right"></i>
                    </div>
                    <div class="footer-item">
                        <i class="bi bi-box-arrow-right footer-icon"></i>
                        <a href="#" style="text-decoration: none;" id="home"><span class="footer-text">Log Out</span></a>
                        
                    </div>
                    <div class="footer-item">
                        <a href="#" style="text-decoration: none;" id="home">  <span class="footer-text" style="color: #444444;">Version 0.1.0</span></a>
                        <i class="bi bi-github footer-icon-right"></i>
                    </div>
                   
                    
                </div>
            </div>

            <!-- Main Content -->
            <div class="col-md-9 main-content" id="rightPanel">
                <%- include('partials/home') %>
            </div>
        </div>
    </div>

    <div id="paymentTypeModal" class="modal">

        <!-- Payment type modal -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Send</h2>
            <h3>Payment type</h3>
            <form id="paymentForm">
                <div class="payment-button-group">
                    <button type="button" class="paymentOption" data-value="contact" id="contactPaymentOption">Contact
                        <i class="bi bi-arrow-right"></i></button>
                    <button type="button" class="paymentOption" data-value="invoice" id="invoicePaymentOption">Invoice
                        <i class="bi bi-arrow-right"></i></button>
                    <button type="button" class="paymentOption" data-value="offer" id="offerPaymentOption">Offer <i
                            class="bi bi-arrow-right"></i></button>
                </div>
                <button type="button" id="cancelSendRequest">Cancel <i class="bi bi-x"></i></button>
            </form>
        </div>

    </div>

    <!-- Input payment invoice modal -->
    <div id="invoicePaymentType" class="modal payInvoiceModal">
        <div class="modal-content" style="width: 450px; height: 450px;">
            <span class="close" data-modal="invoicePaymentType">&times;</span>
            <h2>Send</h2>
            <h3>Pay invoice</h3>
            <form>
                <div class="form-group">
                    <label for="requestInvoice">Request*</label>
                    <input type="text" id="requestInvoice" name="requestInvoice" class="form-control"
                        placeholder="Enter Request Invoice ">
                </div>               
            </form>
            <div class="decode-invoice">
                <div class="decoded-invoice-item">
                    <p class="memo">Memo: </p>
                    <p class="memo">Payment to demo@zaprite.com</p>
                </div>
                <div class="decoded-invoice-item">
                    <p class="invoiceAmount">Amount</p>
                    <p class="invoiceAmount">41,688 sats</p>
                </div>                
                <div class="decoded-invoice-item">
                    <p class="fees">Fee</p>
                    <p class="fees"> 14 sats</p>
                </div>              
            </div>
            <button class="" type="button" id="backToPaymentType"><i class="bi bi-arrow-left"> </i>Back</button>
            <button class="" type="button" id="submitInvoice">Send <i class="bi bi-check2"></i></button>
        </div>
    </div>

    <div id="contactPaymentType" class="modal">
        <div class="modal-content">
            <span class="close" data-modal="contactPaymentType">&times;</span>
            <h2>Send</h2>
            <h3>Pay contact</h3>
            <form>
                <div class="form-group">
                    <label for="paymentContact">Contact*:</label>
                    <select id="paymentContact" name="paymentContact" class="form-control">
                        <option value="" disabled selected>Choose contact</option>
                        <option value="contact1">Contact 1</option>
                        <option value="contact2">Contact 2</option>
                        <option value="contact3">Contact 3</option>
                    </select>
                    <label for="contactPaymentAmount">Amount:</label>
                    <input type="text" id="contactPaymentAmount" name="contactPaymentAmount" class="form-control"
                        placeholder="Add an amount in sats..">
                    <label for="contactPaymentDescription">Desription:</label>
                    <input type="text" id="contactPaymentDescription" name="contactPaymentDescription" class="form-control"
                        placeholder="Optional">
                </div>
            </form>
            <button class="" type="button" id="backToPaymentType"><i class="bi bi-arrow-left"> </i>Back</button>
            <button class="" type="button" id="submitContact">Send <i class="bi bi-check2"></i></button>
        </div>
    </div>

    <!-- Offer payment type modal -->
    <div id="offerPaymentType" class="modal">
        <div class="modal-content">
            <span class="close" data-modal="offerPaymentType">&times;</span>
            <h2>Send</h2>
            <h3>Pay offer</h3>
            <form>
                <div class="form-group">
                    <label for="requestOffer">Enter Request Offer:</label>
                    <input type="text" id="requestOffer" name="requestOffer" class="form-control"
                        placeholder="Enter Request Offer">
                    <label for="offerAmount">Amount:</label>
                    <input type="text" id="offerAmount" name="offerAmount" class="form-control" placeholder="100,000">
                    <label for="offerDescription">Description:</label>
                    <input type="text" id="offerDescription" name="offerDescription" class="form-control"
                        placeholder="Payment to demo@zaprite.com">
                </div>
            </form>
            <button class="" type="button" id="backToPaymentType"><i class="bi bi-arrow-left"> </i>Back</button>
            <button class="" type="button" id="submitOffer">Send <i class="bi bi-check2"></i></button>
        </div>
    </div>

    <!-- Success Modal -->
    <div id="successfulPaymentModal" class="modal">
        <div class="modal-content">
            <span class="close" data-modal="successfulPaymentModal">&times;</span>
            <h3>Success</h3>
            <div class="icon-container">
                <i class="bi bi-check-circle check-icon"></i>
            </div>
            
            <button class="" type="button" id="submitPaymentSuccess">OK <i
                    class="bi bi-check2"></i></button>
        </div>
    </div>

    <!-- Payment request modal-->
    <div id="paymentRequestModal" class="modal">
        <div class="modal-content">
            <span class="close" data-modal="paymentRequestModal">&times;</span>
            <h2>Receive</h2>
            <h3>Payment request</h3>
            <form>
                <div class="form-group">
                    <label for="requestInvoiceAmount">Amount</label>
                    <input type="text" id="requestInvoiceAmount" name="requestInvoiceAmount" class="form-control"
                        placeholder="100">
                    <label for="requestInvoiceName">Your name(Optional)</label>
                    <input type="text" id="requestInvoiceName" name="requestInvoiceName" class="form-control"
                        placeholder="Name">
                    <label for="requestInvoiceDescription">Description</label>
                    <input type="text" id="requestInvoiceDescription" name="requestInvoiceDescription"
                        class="form-control" placeholder="Sample description">
                </div>
            </form>
            <div>
                <button class="" type="button" id="cancelPaymentRequest"> <i class="bi bi-x"></i>
                    Cancel</button>
                <button class="" type="button" id="nextToSharePaymentRequest">Next <i
                        class="bi bi-arrow-right"></i></button>
            </div>
        </div>
    </div>

    <!-- Share payment request Modal -->
    <div id="sharePaymentRequestModal" class="modal">
        <div class="modal-content">
            <span class="close" data-modal="sharePaymentRequestModal">&times;</span>
            <h2>Share Payment Request</h2>
            <div id="barcode" class="barcode"></div>

            <div class="string-box">
                <input type="text" id="invoiceString" class="invoice-string" readonly>
                <button class="copy-btn" onclick="copyInvoice()"><i class="fa fa-copy"></i></button>
            </div>

            <button class="" type="button" id="closeSharePaymentRequest"><i
                    class="bi bi-x"></i>Close</button>
            <button class="" type="button" id="doneSharePaymentRequest">Done <i
                    class="bi bi-check2"></i></button>
        </div>
    </div>
    <script src="/public/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>