{% extends 'base.html.twig' %}

{% block title %}Contacts{% endblock %}

{% block body %}
  <div class="home-container">
      <h1 class="page-title">Contacts</h1>
      <h2 class="section-title">Address Book</h2>
      <h3 class="sub-section-title">Manage your Contacts</h3>
  </div>
{% endblock %}
