/* public/css/styles.css */

/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

.wrapper {
    display: flex;
}

.sidebar {
    width: 250px;
    border: 2px solid #595959;
    color: white;
    min-height: 100vh;
}

.sidebar-header {
    font-size: 1.5em;
    margin-bottom: 1em;
    padding-left: 10px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 20px;
    display: block;
    transition: background-color 0.3s;
}

.sidebar nav ul li a:hover {
    background-color: #262626;
}

.sidebar nav ul li.active {
    background-color: #1a1a1a;
}

.sidebar nav ul li.active a {
    color: orange;
}

.sidebar-bottom {
    width: 250px;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.sidebar nav ul li.border {
    border-top: 1px solid #595959;
}

.sidebar nav ul li.footer {
    text-align: left;
    height: 100px;
}

.sidebar nav ul li.footer a {
    padding: 50px;
    font-size: 14px;
}

.sidebar nav ul li.footer a:hover {
    background-color: black;
}

.content {
    flex: 1;
    background: black;
}

.container-fluid {
    max-width: 1200px;
    margin: 0 auto;
}

.home-container {
    padding: 20px;
    color: white;
}

.main-title {
    color: orange;
    font-size: 2.4em;
    margin-bottom: 1em;
}

.page-title {
    color: white;
    font-size: 2.2em;
    font-weight: lighter;
    margin-bottom: 1em;
}

.sub-title {
    color: white;
    font-size: 1.6em;
    font-weight: lighter;
}

.centered {
    text-align: center;
}

.balance-title {
    color: orange;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.balance-bar {
    background: #1a1a1a;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

.btn-send, .btn-receive {
    padding: 14px 46px;
    width: 65px;
    text-align: center;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
}

.btn-send {
    background: #ffffff;
    color: orange;
}

.btn-receive {
    background: #ff9900;
    color: white;
}

.btn-send:hover {
    background: #f2f2f2;
    color: orange;
}

.btn-receive:hover {
    background: #e68a00;
    color: white;
}

.balance-value {
    color: white;
    font-size: 1.5em;
    background-color: #262626;
    padding: 10px 30px;
}

.section-title {
    color: orange;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.sub-section-title {
    color: white;
    font-size: 1em;
    font-weight: lighter;
    margin-bottom: 0.5em;
}

.copy-bar {
    background: #1a1a1a;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
}

.btn-copy {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    background: white;
    color: orange;
}

.btn-copy:hover {
    background: #f2f2f2;
}

.copy-text-11 {
    color: white;
    padding: 20px;
    font-size: 1em;
    word-wrap: break-word; /* Pour gérer les sauts de ligne */
    word-break: break-all; /* Pour gérer les sauts de ligne */
    max-width: 80%; /* Limite la largeur du texte */
}

.copy-text-12 {
    color: white;
    padding: 20px;
    font-size: 1em;
    word-wrap: break-word; /* Pour gérer les sauts de ligne */
    word-break: break-all; /* Pour gérer les sauts de ligne */
    max-width: 80%; /* Limite la largeur du texte */
}

.text-overflow {
    white-space: nowrap;
    overflow-x: scroll;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

.container {
    margin: 0 auto;
    padding: 20px;
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 40%;
    padding: 15px;
    background-color: #0d0d0d;
    border: 2px solid #595959;
    color: #595959;
    font-size: 1em;
}

.form-control:hover {
    border: 2px solid #white;
    color: white;
}

.register-link {
    color: white;
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}

.btn-primary {
    background-color: #ff9900;
    border: none;
    color: white;
    padding: 15px 40px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #e68a00;
}

.mt-5 {
    margin-top: 3rem;
}

.mt-3 {
    margin-top: 1rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.result-container {
    border: 1px solid #595959;
    padding: 10px;
    margin-top: 20px;
}

.result-content {
    margin-top: 10px;
}

.no-underline {
    text-decoration: none; /* Supprime le soulignement */
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table thead {
    color: #595959;
}

table tbody {
    color: white;
}

table, th, td {
    border-bottom: 2px solid #595959;
}

th, td {
    padding: 8px;
    text-align: left;
}

td form {
    display: inline;
}

td button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

td button:hover {
    background-color: #e53935;
}
